[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["bcrypt", "argon2"]}
"psycopg2-binary" = "*"
django-environ = "*"
django-model-utils = "*"
djangorestframework = "*"
coreapi = "*"
markdown = "*"
redis = "*"
hiredis = "*"
django-redis = "*"
channels = "*"
uvicorn = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
